@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Using DCD0FF as the primary color */
  --primary-color: 220, 208, 255; /* Soft Purple */
  --secondary-color: 248, 245, 255; /* Light background */
  --text-primary-color: 34, 34, 34; /* Almost black */
  --action-color: 194, 170, 252; /* Slightly darker purple for actions */
}
